.tip-info-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 120px;

  &.hidden {
    display: none;
  }

  img {
    opacity: .3;
    width: 36px;

    body.hellfire-mode & {
      opacity: .9;
      filter: invert(1);
    }
  }

  p {
    color: #b2b2b2;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;

    body.hellfire-mode & {
      color: white;
    }
  }
}
