@use "../../../sass/partials/mixins" as *;

.game-info-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 6px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;

  body.hellfire-mode & {
    border-bottom: 1px solid dimgray;
  }

  > span {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .4px;

    body.hellfire-mode & {
      color: white;
    }

    > .value {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: .7px;
      margin-left: 5px;
      position: relative;
      top: 0.5px;
    }
  }

  .time-counter {
    width: 110px;
  }
  .time-countdown {

  }
  .moves-counter {
    width: 80px;
  }
  .moves-countdown {
  }

  .pairs-matched {
    margin-left: auto;
    white-space: nowrap;

    .slash {
      font-size: 12px;
      padding: 0 1px;
    }
  }

  .points {
    width: 90px;
    justify-content: flex-end;
  }
}
