@use "../../../sass/partials/animations" as *;

.game-modes-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;

  > .label {
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  > .game-modes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    user-select: none;

    > a {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      padding: 55px 20px;
      background-image: linear-gradient(-45deg, #4d0081, #4714f4, #f40b36, #0b7bf4);
      background-size: 500% 500%;
      transition: box-shadow 0.3s;
      text-transform: capitalize;

      &:hover {
        box-shadow: 0px 0px 10px #4e4e4e;
        animation: shifting-gradient 3s ease-in-out infinite;
      }

      &.disabled {
        filter: grayscale(1);
        pointer-events: none;
        opacity: 0.4;
        box-shadow: inset 0px 0px 4px 2px darkblue;
      }

      &.speedrun {
        // TODO find good green
      }

      &.pay-to-win {
        background-image: linear-gradient(-45deg, #4714f4, #0b7bf4, #4d0081);
      }

      &.hellfire {
        background-image: linear-gradient(-45deg, #f36427, #bc1c24, #f9ae1c, #c41c23);
      }

      > span {
        font-size: 22px;
        line-height: 1.2;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 1);
        text-shadow: 0px 0px 2px black;
      }
    }
  }
}
