<div class="modal-backdrop"></div>

<div class="modal-content-wrapper">
  <div class="modal-content-inner">
    <span class="modal-close" (click)="closeModal(true)">
    <i>&#x2715;</i>
  </span>

    <div
      *ngIf="header"
      class="modal-header"
    >
      <ng-container [ngTemplateOutlet]="header"></ng-container>
    </div>

    <div
      *ngIf="body"
      class="modal-body"
    >
      <ng-container [ngTemplateOutlet]="body"></ng-container>
    </div>

    <div
      *ngIf="footer"
      class="modal-footer"
    >
      <ng-container [ngTemplateOutlet]="footer"></ng-container>
    </div>
  </div>
</div>
