@use "sass/partials/functions" as *;
@use "sass/partials/mixins" as *;
@use "sass/partials/animations" as *;
@use "sass/partials/base" as *;

html {
  height: 100%;
}

body {
  position: relative;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: rgba(black, 0.05);

  &.hellfire-mode {
    background: url(assets/images/x1.webp) top center;
  }

  &::before {
      display: none;

      @include extend('body', '.hellfire-mode') {
        display: block;
        content: '';
        position: absolute;
        inset: 0 0 0 0;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -1;
      }
  }
}

.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px 20px 30px;
  background: linear-gradient(rgba(black, .03), transparent, transparent);

  body.hellfire-mode & {
    background-image: linear-gradient(rgba(black, 0.85), rgba(black, 0.55), rgba(black, 0.25), transparent, transparent);
  }
}

/*import { createApi } from "./unsplash-js";

import nodeFetch from './node-fetch';

const unsplashAPI = createApi({
    accessKey: 'knJ-dWwE3NuTuXTLmPlhlv9AsQytlb57-js_WfDBs_Y',
    fetch: nodeFetch,
});*/

// PEXESO
//DONE create grid responsive layout of box items, 8 items in a row
//DONE make each item flip on click with a picture on the back side
//DONE each item needs to be generated through JS (or find some template engine??)
//DONE each item has unique ID or name or number (data- attribute)
//DONE there are pairs of items with the same ID
//DONE if on click they match, they get "matched" class permanently
//DONE get data attribute and by ID change the array of items(pexItems), wasChecked: true

// Solution to generating the same IDs:
//DONE generate array and duplicate it and then combine into two arrays

//DONE create new data (createPexData())
//DONE put it into array, twice as pairs
//DONE shuffle the array
//DONE set it into localStorage

//Pseudo code for pexeso, 3 important methods:
//DONE 1. When item is clicked, change isVisited(first visit) and isFlipped properties in an object (ONLY FOR ONE ITEM)
//DONE 2. When they match, add isMatched for both (FOR MULTIPLE ITEMS)
//NOT 3. When they DONT MATCH, change isFlipped for both (FOR MULTIPLE ITEMS)

// LATER ======
// Counter of pairs, Pairs left?
//DONE Counter of moves
//DONE Timer
// Turns? (against computer)
// Points?
