@use "sass/partials/functions" as *;
@use "sass/partials/mixins" as *;
@use "sass/partials/animations" as *;
@use "sass/partials/base" as *;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  height: 100%;
}

body {
  position: relative;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: rgba(black, 0.05);

  &.hellfire-mode {
    background: url(/assets/images/hellfire-bg.webp) top center;
    animation: fadeIn 1s;
  }

  &::before {
    display: none;

    @include extend('body', '.hellfire-mode') {
      display: block;
      content: '';
      position: absolute;
      inset: 0 0 0 0;
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: -1;
    }
  }
}

.page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
  padding: 20px 20px 30px;
  background: linear-gradient(rgba(black, .03), transparent, transparent);

  body.hellfire-mode & {
    background-image: linear-gradient(rgba(black, 0.75), rgba(black, 0.55), rgba(black, 0.25), transparent, transparent);
  }
}

/*import { createApi } from "./unsplash-js";

import nodeFetch from './node-fetch';

const unsplashAPI = createApi({
    accessKey: 'knJ-dWwE3NuTuXTLmPlhlv9AsQytlb57-js_WfDBs_Y',
    fetch: nodeFetch,
});*/
